<!DOCTYPE html>
<!-- 
   But : HTML page des infos exercices du projet Fitness
   Auteur : Yaël Meyer
   Date :   17.06.2023 / V1.0 
   -->

<!-- Menu -->
<header>
  <div id="enteteAccueil">
    <img src="./images/menu.png" class="menu">
    <ul style="display:none;">
      <li><a id="exercices">Retour</a></li>
    </ul>
    <div id="titreInfoNom"></div>
  </div>
</header>

<!-- Page d'informations -->
<div id="infosExercices">
  <div id="typeInfo">Type : </div>
  <div id="muscleInfo">Muscle : </div>
  <div id="equipmentInfo">Equipment : </div>
  <div id="difficultyInfo">Difficulty : </div>
  <p id="labelInstructions">Instructions :</p>
  <div id="instructionsInfo"></div>
</div>